# Caddyfile
search.domain.com {
	@cors_preflight {
		method OPTIONS
	}
	header {
		Access-Control-Allow-Origin "https://portal.domain.com"
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "content-type, x-typesense-api-key"
		Access-Control-Max-Age "3600"
	}
	respond @cors_preflight 204
	reverse_proxy typesense:8108
}